h1,h2,h3,h4,h5,h6, p{
	margin: 0;
}
h1{
	font-size: 48px;
	line-height: 56px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.heading2{
	font-size: 60px;
	line-height: 72px;

}
h2{
	font-size: 36px;
	line-height: 40px;
	margin: 0 0 80px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}
h2 small{
	display: block;
	font-size: 16px;
	line-height: 24px;
	margin: 22px 0 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}
h3{
	font-size: 30px;
	line-height: 32px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}
h4{
	font-size: 24px;
	line-height: 28px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h5{
	font-size: 18px;
	line-height: 20px;
	margin: 0 0 54px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}
@media screen and (max-width: 1199px){
	h2{
		font-size: 32px;

	}
}
@media screen and (max-width: 991px){
	h1{
		font-size: 40px;
		line-height: 44px;
	}
	h4{
		font-size: 22px;
	}
	h3{
		font-size: 30px;
		line-height: 34px;
	}
	h2{
		line-height: 38px;
		margin: 0 0 50px;
	}
}
@media screen and (max-width: 767px){
	h1{
		font-size: 30px;
	}
	h3{
		font-size: 24px;
	}
	h2{
		font-size: 28px;
	}
	.heading2{
		font-size: 30px;
		line-height: 34px;
	}
}
@media screen and (max-width: 667px){
	h1, h2{
		font-size: 26px;
		line-height: 30px;
	}
	h2{
		margin: 0 0 30px;
	}


}
@media screen and (max-width: 560px){
	h2{
		font-size: 22px;
		line-height: 26px;
	}


}